/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2.1.2019, 22:51:26
    Author     : Čeněk Žid
*/

.my_heading{
    color: pink;
    font-size: x-large;
}